body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}



a,p {
    font-size: 13px;
    margin-bottom: 0%;
}

.spaceHolder {
    height: 35vh;
}

.group-div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buttonDiv {
    /* background: linear-gradient(gray, lightgray);
    border: none;
    color: black;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; */
}

#log-in-list {
    height: 30vh;
    overflow: scroll;
}

#navbar {
    z-index: 4;
}

#main-page {
    width: 95vw;
    min-height: 90vh;
    display: none;
}

#create-card {
    height: 80vh;
    left: 20%;
    width: 60%;
    overflow: scroll;
    position: fixed;
    bottom: 8%;
    z-index: 5;
    display: none;
}

img {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 768px) {

    a,
    p,
    input {
        font-size: 12px;
    }

    .form-control {
        font-size: 11px;
    }

    .card-header {
        padding: .3rem 1rem;
    }

    h5{
        font-size: 16px;
    }


    label,
    .custom-select,
    .input-group-text {
        font-size: 13px;
    }

    .creator-img {
        width: 50px;
        height: 50px;
    }

    .group-div {
        width: 98%
    }

    #create-card {
        left: 1%;
        width: 98%;
    }

}